{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "react-app",
    "react-app/jest",
    "prettier"
  ],
  "rules": {
    "sort-imports": ["error", { "ignoreCase": true, "ignoreDeclarationSort": true }],
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          "internal",
          ["sibling", "parent"],
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "@(react|react-native)",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@src/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["internal", "react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "prettier/prettier": "error",
    "no-inline-comments": "error",
    "testing-library/no-node-access": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": [
    "**/*.css",
    "**/*.scss",
    "./dist",
    "./node_modules",
    "./src/assets"
  ]
}